body{
    height: 95vh;
    width: 95vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:linear-gradient(rgba(0,0,0,.50),rgba(0,0,0.50)100%), url('img/istockphoto-1170293536-612x612.jpg' ) ;
    color: rgb(255, 255, 255);

}